@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #188eac !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
    color: #ea4aaa;
}

.inline-block {
    display: inline-block;
}

.inner {
    max-width: 100%;
}

// .circular--square {
//     border-top-left-radius: 50% 50%;
//     border-top-right-radius: 50% 50%;
//     border-bottom-right-radius: 50% 50%;
//     border-bottom-left-radius: 50% 50%;
// }

.circular--square {
    border-radius: 50%;
    width: 200px;
    height: 231px;
    object-fit: cover;
}

.centerText {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 70%;
}

.img {
    max-width: 70%;
}

.model-box {
    position: relative;
    width: 30%;
    height: 0;
    padding-top: 35.3%;
    /* This is your aspect ratio */
}

.model {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}