/* Custom styles for circular images */
.circular--square {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.inline-block {
    display: inline-block;
    margin: 20px;
}

/* Center text */
.centerText {
    text-align: center;
}

